<h1>Editing course taken</h1>

<%= render "form", course_taken: @course_taken %>

<br>

<div>
  <%= link_to "Show this course taken", @course_taken %> |
  <%= link_to "Back to course takens", course_takens_path %>
</div>
