<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Instructor:</strong>
    <%= recommendation.instructor %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= recommendation.student %>
  </p>

  <p>
    <strong>Section number:</strong>
    <%= recommendation.section_number %>
  </p>

</div>
