<div class="container my-4">
  <div class="card-body">

    <h2 class="card-title text-center">Editing Application</h2>

    <%= render "form", application: @application %>

    <div class="mt-3 text-center">
      <%= link_to "Show this application", @application, class: "btn btn-primary" %>
      <%= link_to "Back to applications", applications_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
