<div class="container my-5">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="d-flex justify-content-between align-items-center">
    <h1>Sections</h1>
    <%= link_to "New section", new_section_path, class: 'btn btn-primary' %>
  </div>

  <div id="sections">
    <% @sections.each do |section| %>
      <div class="card my-4">
        <div class="card-body">
          <%= render section %>
        </div>

        <div class="card-footer">
          <%= link_to "Show this section", section, class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
</div>