<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h2>New Section</h2>
    </div>

    <div class="card-body">
      <%= render "form", section: @section %>

      <div class="mt-3">
        <%= link_to "Back to sections", sections_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>