<h1>My Course History</h1>
<table id="enrollmentsTable" class="table mt-3">
  <thead>
  <tr id="headerRow">
    <th class="text-center">Course</th>
    <th class="text-center">Grade</th>
    <th class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @enrollments.where(user_id: current_user.id).each do |enrollment| %>
    <tr>
      <td class="text-center"><%= enrollment.course_name %></td>
      <td class="text-center"><%= enrollment.grade %></td>
      <td class="text-center"><%= link_to 'Show', enrollment %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Enrollment', new_enrollment_path %>