<div id="<%= dom_id availability %>">
  <p>
    <strong>Day:</strong>
    <%= availability.day %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= availability.start_time.strftime("%I:%M %p") %>
  </p>

  <p>
    <strong>End Time:</strong>
    <%= availability.end_time.strftime("%I:%M %p") %>
  </p>
</div>