<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">New Availability</h2>
    </div>
    <div class="card-body">
      <%= render "form", availability: @availability %>
      <div class="mt-3">
        <%= link_to "Back to availabilities", availabilities_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>