<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container text-center">
    <p>&copy; <%= Time.now.year %> Course: CSE 3901 | Section: 6442. All rights reserved.</p>
    <p>Instructor: Scott Sharkey</p>
    <p>Team Member: Jackie Boadi | Jiaming Cheng | Noah Hein | Roy Ji | Long Lin | Matthew Modica | Xianzhe Wang</p>
  </div>
</footer>
