<header>
  <nav>
    <h1>CSE 3901 - Team 6</h1>
    <div class="buttons">
      <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
      <%#= link_to 'About', about_path, class: 'btn btn-primary' %>
      <%#= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
    </div>
  </nav>
</header>
