<header>
  <nav>
    <h1>CSE 3901 - Team 6</h1>
    <% if user_signed_in? %>
      <div class="buttons">
        <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Applications', applications_path, class: 'btn btn-primary' %>
        <%#= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
      </div>
      <p>Welcome, <%= current_user.email %>!</p>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <p>Please sign in or sign up to continue.</p>
    <% end %>
  </nav>
</header>
